<!DOCTYPE html>
<html>
  <head>
    <title>{{TITULO}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Datos Personales</h1>
    {{{NombrePersona}}}
    {{{EdadPersona}}}
    {{{Sexo}}}
    {{{Nacionalidad}}}
    {{{RTN}}}

    <h1>Educacion<h1/>
    {{{Primaria}}}
    {{{Secundaria}}}
    {{{Avanzada}}}
    {{{Universidad}}}

    <h1>Experiencia laboral</h1>
    {{{Practica}}}

    <h1>Idiomas</h1>
    {{{lenguamaterna}}}
    {{{Lengua2da}}}

    <h1>Carta de presentacion</h1>
    {{{informacion}}}

  </body>
</html>
